# Dependencies
node_modules
.pnpm-store

# Build outputs & cache
dist
.turbo
*.log

# Environment variables
.env
.env.local
.env.*.local

# Databases & local sqlite
*.db
*.db-journal

# IDE / OS files
.DS_Store
Thumbs.db
.vscode/
.idea/
